Package: com.82flex.trollvnc
Name: ControlIOS
Version: 1.0
Section: Tweaks
Depends: firmware (>= 14.0), preferenceloader
Architecture: iphoneos-arm
Author: 82Flex <82flex@gmail.com>
Maintainer: 82Flex <82flex@gmail.com>
Description: ControlIOS is a VNC server for iOS devices, allowing remote access and control of the device’s screen.
